# Example of user css style
body { font-family: sans-serif; }
div.docs { width: 49% !important; vertical-align: top; display: inline-block; float: left; }
div.code { width: 49% !important; float: right; }
div.break { width: 100% !important; clear: both; }
div p { margin-top: 0em; }
h2, h3, h4, h5, h6 {
    margin-top: 0px;
    margin-left: 1em;
    font-family: sans-serif;
    text-transform: none;
    border-top-left-radius: 2%;
    background: linear-gradient(to bottom right, #000000 -150%, #ffffff 50%);
    }
